*.suo
*.user
bin
obj
packages
exported_resources
launchSettings.json
*.cache
**/.vs
*.vsp
*.psess
*.tmp
*.metaproj
*.log
*.trx
~$*.*
.idea
TestResult.xml
test_results.txt
*.nuget.props
*.stackdump